.header {
    width: 100%;
    text-align: center;
    background-color: #9bc6e4; 
    z-index: 1000;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    border-radius: 10px;
    z-index: 1000;
}
  
.button-nav{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none; 
    border: 2px solid #9bc6e4;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s; 
}
  
.button-nav:hover{
    background-color: white; 
    color: #9bc6e4; 
    border-color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}