.navbar {
  padding: 0px 0px;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #4058af;
  opacity: 0.5;
  z-index: 10;
  transition: background 0.2s;
}

.logo {
  padding-left: 10px;
  height: 90px;
  pointer-events: none;
}

.navbar-links {
  margin-right: 50px;
  position: relative;
  height: 100%;
}

.navbar-links ul {
  display: flex;
  column-gap: 30px;
  background: transparent;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.4rem;
  opacity: 0.7;
  transition: 0.2s opacity, 0.2s color;
}

.navbar-links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
  opacity: 0.7;
  transition: 0.2s width, 0.2s opacity;
}

.navbar-links li a:hover {
  opacity: 1;
}

.navbar-links li a:hover::after {
  opacity: 1;
  width: 100%;
}
