body{
  font-family: 'Arial', sans-serif;
  background-color: #0b0b46;
  margin: 0;
  padding: 0;
}

app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  background-color: rgb(18, 97, 172, 0, 0) ;
  color:rgb(105, 177, 201);
  padding: 20px;
  text-align: center;
  width: 100%;
}

main {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(2, 15, 85);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 20px;
}

center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

menu {
  width: 100%;
}

item_menu {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
